<div class="row">
  <div class="col">
    <div class="p-4 px-5 ">
      <div class="mb-5">
        <%= link_to root_path do %> 
          <%= image_tag "insta-sidebar-logo.png",width: "103" %>
        <% end %>
      </div>
      <div class="mb-4 ">
        <%= link_to "" , data: {"bs-toggle" => "modal", "bs-target" => "#exampleModal"} ,class: "sidebar-links"  do %>
        <div class="d-flex  align-items-center ">
          <%= image_tag "icons/more.png",width: "24",class: "me-3" %>
          Create
        </div> 
        <% end %>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path,data: {"turbo-method": :delete} %>
      </div>
    </div>
  </div>

  <div class="col-7">
    2 of 3 (wider) 
  </div>
  <div class="col-3">
    3 of 3
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title fs-6" id="exampleModalLabel">Create new post</h5>
      </div>
      <div class="modal-body d-flex justify-content-center align-item-center">
        <div class= "py-5" style = "margin-left: auto; margin-right: auto; text-align: center;">
          <%= image_tag "icons/image-gallery.png",width: "90" , class: "mb-3"%>
          <p class = "fs-5">Drag Photos and videos here</p>
          <%= link_to "Select from computer", "", class: "btn btn-primary insta-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>
